/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.container {
  width: 870px;
  background-color: #ffffff;
}

/* Header section  */
.header {
  background-color: #2d25a0;
  width: 1440px;
}
.title {
  width: 100%;
}
.flaxible {
  display: flex;
}
.copa-title {
  padding: 20px;
}
.half-width {
  width: 50%;
}
.half-width h1 {
  font-size: 4em;
  color: #ffffff;
}

.button {
  background-color: #e02c6d;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.banner img {
  padding: 5px;
  width: 450px;
  transition: transform 2s;
}

.banner img:hover {
  transform: scale(0.8);
}

/* Players Section */
players-section {
  display: flex;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  height: 450px;
  width: 330px;
  margin: 13px;
  padding: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px 20px rgb(224, 221, 221);
}

.player img {
  height: 256px;
}

/* Highlights Section */

.highlights {
  display: flex;
  justify-content: center;
  margin: 70px;
  padding: 40px;
}
.content h1 {
  font-size: 3em;
  margin: 0;
}
.content p {
  line-height: 1.8;
}

.photo img {
  height: 380px;
}

/* Matches Section */
.matches h1 {
  text-align: center;
}
.match {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 50px 100px;
  box-shadow: 10px 10px 40px rgb(184, 180, 180);
  border-radius: 10px;
}
.match-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.match-info h2 {
  padding: 20px;
}
.none {
  visibility: hidden;
}

.match-photo img {
  height: 80px;
  width: 100px;
  border-radius: 50%;
}

.football {
  background: url("../images/players/football.jpg");
  padding: 60px 120px;
  text-align: center;
  color: rgb(54, 52, 52);
  margin: 25px 0;
}
.football h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.football p {
  font-size: 16px;
  padding: 0 15px 0 15px;
}
.football-players {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin: 30px 0;
}
.football-player {
  border-radius: 10px;
  box-shadow: 10px 10px 40px rgb(200, 187, 187);
}
.football-player img {
  width: 100%;
}

.social {
  text-align: center;
}
footer {
  text-align: center;
}
footer img {
  height: 80px;
  width: 380px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
  font-size: 20px;
}
.fab {
  padding: 20px;
}
/* Adding Media Queries */

/* Media Queries for Mobile Device */

@media only screen and (max-width: 688px) {
  .players {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 25px;
  }
  .player-info {
    padding-right: 25px;
  }
  .highlights {
    flex-direction: column;
    margin: 20px;
    padding: 0;
  }
  .content {
    margin: 20px 0;
  }
  .content h1 {
    font-size: 2em;
  }
  .banner img {
    width: 100%;
  }
  .match {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    justify-content: center;
  }
  .football {
    padding: 20px;
  }
  .football-players {
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .half-width h1 {
    font-size: 2em;
  }
  .header {
    width: 100%;
  }
  .flaxible {
    flex-direction: column;
  }
  .photo img {
    height: 380px;
    width: 100%;
  }
  footer img {
    height: 80px;
    width: 290px;
  }
}

/* Media Queries For Medium Size Screen Like Tablet */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .players,
  .football-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    width: 300px;
  }
  .football {
    padding: 30px;
  }
  .highlights {
    flex-direction: column;
    margin: 40px;
    padding: 0;
  }
  .content {
    margin: 60px 0;
  }
  .content h1 {
    font-size: 3em;
  }
  .photo img {
    width: s550px;
  }
  .match {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    justify-content: center;
  }
  .container {
    width: 100%;
  }
  .half-width h1 {
    font-size: 3em;
  }

  .banner img {
    display: flex;
    width: 100%;
    padding-left: 230px;
  }
  .flaxible {
    flex-direction: column;
  }
  .player img {
    height: 256px;
  }
  .photo img {
    height: 380px;
    width: 100%;
  }
}
