/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.container {
  width: 870px;
  background-color: #ffffff;
}

/* Header section  */
.header {
  background-color: #2d25a0;
  width: 1440px;
}
.title {
  width: 100%;
}
.flaxible {
  display: flex;
}
.copa-title {
  padding: 160px 111px 169px 147px;
}
.half-width {
  width: 50%;
}
.half-width h1 {
  font-size: 4em;
  color: #ffffff;
}

.button {
  background-color: #e02c6d;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.banner img {
  padding: 153px 140px 86px 0px;
}
.half-width img {
  width: 556px;
  height: 438px;
}

/* Players Section */
players-section {
  display: flex;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  height: 450px;
  width: 330px;
  margin: 13px;
  padding: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px 20px rgb(224, 221, 221);
}

.player img {
  height: 256px;
  width: 330px;
}

/* Highlights Section */

.highlights {
  display: flex;
  justify-content: center;
  margin: 70px;
  padding: 40px;
}
.content h1 {
  font-size: 3em;
  margin: 0;
}
.content p {
  line-height: 1.8;
}
.photo {
}

.photo img {
  height: 380px;
  width: 510px;
}

/* Matches Section */
.matches h1 {
  text-align: center;
}
.match {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin: 50px 100px;
  box-shadow: 10px 10px 40px rgb(184, 180, 180);
  border-radius: 10px;
}
.match-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.match-info h2 {
  padding: 20px;
}
.none {
  visibility: hidden;
}

.match-photo img {
  height: 80px;
  width: 100px;
  border-radius: 50%;
}
.social {
  text-align: center;
}
footer {
  text-align: center;
}
footer img {
  height: 80px;
  width: 380px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  text-decoration: none;
  font-size: 20px;
}
.fab {
  padding: 20px;
}
